:root {
  --orange: #ff8b76;
  --jaune-orange: #ffb77b;
  --fond-light: #fff9f2;
  --fuschia: #df3160;
  --violet-sombre: #3c0f6d;
  --fond-dark-theme: #302635;
}

/* Gradient for the logo */
.degrade-logo {
  background: linear-gradient(
    to right,
    var(--jaune-orange),
    var(--orange),
    var(--fuschia)
  );
}

/* Gradient 2 */
.degrade-2 {
  background: linear-gradient(
    to right,
    var(--jaune-orange),
    var(--fuschia),
    var(--violet-sombre)
  );
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--fond-light);
  font-family: jost;
}

h1 {
  color: var(--Orange, #ff8b76);
  text-align: center;
  font-size: 1.875rem; /* 30px */
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.1875rem; /* 3px */
  text-transform: uppercase;
}

p {
  font-size: 0.875rem; /* 14px */
  font-style: normal;
  font-weight: 400;
  line-height: 1.3125rem; /* 21px */
  letter-spacing: 0.04375rem; /* 0.7px */
}

.btn {
  color: white;
  display: inline-flex;
  padding: 0.5rem 1.6875rem; /* 7px 27px */
  justify-content: center;
  align-items: center;
  gap: 0.625rem; /* 10px */
  border: none;
  border-radius: 4.375rem; /* 70px */
  background: linear-gradient(
    98deg,
    #ffb77b 12.31%,
    #ff8b76 58.28%,
    #df3160 104.26%
  );
  box-shadow: 0.125rem 0.125rem 0.25rem 0 rgba(60, 15, 109, 0.3); /* 2px 2px 4px 0px */
  width: 100%;
}
