.navbarTopWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  background-color: #fff9f2;
  height: 2.5rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  box-shadow: 4px 0px 5px rgba(0, 0, 0, 0.659);
}
.container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-inline: 0.1rem;
}
.logoContainer {
  display: flex;
  margin-bottom: 0.2rem;
}
.iconsContainer {
  display: flex;
  position: absolute;
  right: 20px;
}
.bellIcon,
.menuIcon {
  margin-top: 0.5rem;
}

.bellIcon {
  margin-right: 1rem;
}
