/* Sign Up */

#welcome {
  color: var(--Violet-Sombre, #3c0f6d);
  text-align: center;
}

.signup {
  position: relative;
  z-index: 1;
}

.topLeft {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.bottomRight {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: -1;
}

.topRight {
  position: fixed;
  top: 0;
  right: 0;
  z-index: -1;
}

.bottomLeft {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: -1;
  transform: rotate(150deg);
}

.centerLogo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 7rem;
}

/* Log In */
#welcomeLogin {
  margin-top: 9rem;
  font-family: "Spellweaver";
}

.Logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.input {
  border: none;
  border-bottom: 1px solid #ffb77b;
  outline: none;
  width: 15rem;
  margin-bottom: 2rem;
  margin-top: 1rem;
  background-color: #fff9f2;
  color: #ffb77b;
  /* height: 1rem; */
  font-size: 1rem;
}

.input::placeholder {
  color: #ffb77b;
}

.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
}

/* Hide labels */
#labelHidden {
  display: none;
}

#eyeIconInput {
  margin-left: 8px;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.inputContainer {
  position: relative;
  display: flex;
  align-items: center;
}

.input {
  flex-grow: 1;
  padding-right: 40px;
}
#spanEye {
  position: absolute;
  right: 1px;
  bottom: 1rem;
  transform: translateY(-50%);
  /* border: rgb(78, 111, 161) 3px solid; */
  cursor: pointer;
}

#lienMdpForgotten {
  color: #3c0f6d;
  margin-top: 1rem;
  text-align: right;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
}
