/* Sign Up */

#welcome {
  color: var(--Violet-Sombre, #3c0f6d);
  text-align: center;
}

.signup {
  position: relative;
  z-index: 1;
}

.topLeft {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.bottomRight {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: -1;
}

.topRight {
  position: fixed;
  top: 0;
  right: 0;
  z-index: -1;
}

.bottomLeft {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: -1;
  transform: rotate(150deg);
}

.centerLogo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

/* Log In */
#welcomeLogin {
  display: none;
  margin-bottom: 0rem;
}

#welcomeLoginPhone {
  margin-top: 2rem;
  font-size: 1rem;
  /* margin-bottom: 0rem; */
}

.Logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.input {
  border: none;
  border-bottom: 1px solid;
  outline: none;
  width: 14rem;
  margin-bottom: 0.5rem;
  margin-top: 2rem;
  background-color: transparent;
  color: var(--violet-sombre);
  font-size: 1rem;
}

.input::placeholder {
  color: var(--violet-sombre);
}

.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}

/* Hide labels */
#labelHidden {
  display: none;
}

#eyeIconInput {
  margin-left: 8px;
}

#eyeIconInput:hover {
  cursor: pointer;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1.5rem;
}

.inputContainer {
  position: relative;
  display: flex;
  align-items: center;
}

#spanEye {
  position: absolute;
  right: 1px;
  bottom: -0.3rem;
  transform: translateY(-50%);
  cursor: pointer;
}

#lienMdpForgotten,
#newHere {
  color: var(--violet-sombre);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}

.containerLienMdpForgotten {
  text-align: right;
}

.errorAuth {
  color: var(--fuschia);
  margin-top: 0.3rem;
  text-align: center;
  min-height: 1.5rem;
}

/* Success page */
#welcomeMessage {
  color: var(--violet-sombre);
  text-align: center;
  margin-top: 2rem;
  margin-inline: 2rem;
  font-size: 0.8rem;
}

#successCongrats {
  text-align: center;
  margin-top: 2rem;
  margin-inline: 2rem;
  text-transform: none;
  font-size: 1.2rem;
}

.successBtnContainer {
  margin-inline: 2rem;
  margin-top: 2rem;
}

#logoSuccess {
  margin-top: 2rem;
}

@media (min-width: 650px) {
  /* Adjust layout for tablet screens */
  .input {
    width: 20rem;
  }

  #welcomeLogin {
    display: block;
    margin-top: 4rem;
    font-size: 1.5rem;
  }
  #welcomeLoginPhone {
    display: none;
  }

  /* success */
  .successBtnContainer {
    margin-inline: 10rem;
  }

  #welcomeMessage {
    font-size: 1rem;
  }

  #successCongrats {
    font-size: 1.5rem;
  }
}

@media (min-width: 1024px) {
  .input {
    width: 20rem;
  }

  #welcomeLoginPhone {
    display: none;
  }

  #welcomeLogin {
    margin-top: 2rem;
  }

  .centerLogo,
  .Logo {
    justify-content: center;
  }

  /* success */
  .successBtnContainer {
    margin-inline: 20rem;
  }
}

@media (min-width: 1074px) {
  .input {
    width: 25rem;
  }

  #welcomeLoginPhone {
    display: none;
  }

  #welcomeLogin {
    margin-top: 3rem;
  }

  /* success */
  .successBtnContainer {
    margin-inline: 30rem;
  }
}
